@import "~bootstrap/scss/bootstrap.scss";
@import "~tingle.js/src/tingle";
@import "~flatpickr/dist/flatpickr";
@import "~quill/dist/quill.snow";

html, body {
    height: 100%;
    overflow: hidden;
}

.db-editor {
    height: 100%;
    overflow: hidden;

    .navbar {
        height: 60px;
    }
    
    nav {
        z-index: 999 !important;
    }

    .db-editor-table {
        height: 100%;
        overflow: scroll;

        thead, thead th {
            position: sticky;
            top: 0;
            z-index: 100;
            background-color: white;
        }

        td .cell-wrapper {
            max-width: 500px;
            max-height: 150px !important;
            overflow-y: scroll;
        }
    }

    .navbar-collapse {
        background: #f8f9fa;
        border: 1px gray !important;
    }
}


textarea {
    resize: none;
}

pre {
    white-space: pre-wrap;
}
  
.clear {
    background: rgba(0, 0, 0, 0);
    border: 0px;
}

.db-editor-new-entry-editor textarea {
    height: 150px;
    overflow: scroll;
}

img {
    max-width: 500px;
}

* {
    word-wrap: break-word;
}

.page-control {
    white-space: nowrap;
}

.w-300 {
    min-width: 300px;
}