{% extends 'layout/min.njk' %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">中文 Diary</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button class="nav-link btn pointer" id="link-deckViewer" disabled>Quiz</button>
            </li>
            <li class="nav-item">
                <button class="nav-link btn pointer" id="link-cardEditor" disabled>Edit</button>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/patarapolw/zhdiary-app/releases"
                target="_blank">Offline version</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/patarapolw/zhdiary-app"
                target="_blank">About</a>
            </li>
        </ul>

        <div class="navbar-nav">
            <div class="nav-item mr-2 search-bar-area mt-1" id="SearchBarArea"></div>
            <div class="nav-item mr-2" id="UserNameArea"></div>
            <button class="btn nav-item mt-1 mr-2" id="LoginButton">Loading...</button>
        </div>
    </div>
</nav>
{% endblock %}

{% block app %}
<div id="App" class="container">
    Loading...
</div>
{% endblock %}

{% block moreContent %}
<script>
var displayName = "{{ displayName }}";
</script>
<script src="/index.min.js"></script>
{% endblock %}
