<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/icon/site.webmanifest">

    {% block css %}
      <link rel="stylesheet" href="/loading.css">
    {% endblock %}
    
    <title>中文 Diary</title>
  </head>
  <body>
    {% block nav %}{% endblock %}

    {% block app %}
    <div id="App">
      <div class="loader">Loading...</div>
    </div>
    {% endblock %}

    {% block moreContent %}{% endblock %}
    {% block js %}
        <script src="{{js}}"></script>
    {% endblock %}
  </body>
</html>