.pointer {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

.content {
    height: 90%;
    overflow: scroll;
}

.hidden {
    display: none;
}

.h-0 {
    height: 0px !important;
    margin:0;
    padding:0;
    outline:0;
}

.db-editor-quill {
    height: 500px;
}

form .db-editor-quill {
    height: 150px;
}

.ql-editor {
    overflow: scroll;
}